.fit-image {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    background-color: #f7f7f7;
}

.fit-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-secondary {
    color: #fff !important;
    background-color: #7D3800 !important;
    border-color: #7D3800;
}

.btn-secondary:hover {
    color: #fff !important;
    background-color: #f6ab49;
    border-color: #f6ab49;
}

.hero {
    position: relative;
    height: 100vh;
}

.hero img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.hero-logo img {
    width: 100%; /* Default for small screens */
    max-width: 300px; /* Adjust as needed for large screens */
    height: auto;
}

.hero-text {
    font-size: 1.5rem; /* Default for small screens */
}

/* Media Queries for larger screens */
@media (min-width: 768px) {
    .hero-logo img {
        max-width: 500px; /* Adjust as needed for medium screens */
    }

    .hero-text {
        font-size: 2rem; /* Adjust as needed for medium screens */
    }
}

@media (min-width: 1200px) {
    .hero-logo img {
        max-width: 681px; /* Original size for large screens */
    }

    .hero-text {
        font-size: 2rem; /* Original size for large screens */
    }
}

.breadcrumb-area {
    position: relative;
    padding: 100px 0;
    color: #ffffff;
    text-align: center;
}

.breadcrumb-wrapper {
    z-index: 2;
    position: relative;
}

.breadcrumb-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.breadcrumb-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.breadcrumb-list li {
    font-size: 1rem;
}

.breadcrumb-list li a {
    color: #ffffff;
    text-decoration: none;
}

.hero-image {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.hero-image img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 15px;
}
